.container{
    align-items:center;
    justify-content: center;
    background-color:rgb(124, 124, 123);
    width: 500px;
    height:600px;
    margin-top:10px;
    border:3px solid rgb(80, 78, 78);
    border-radius:6px;
    box-shadow: 3px 2px rgb(152, 151, 153);
}
.text-center{
    color: rgb(10, 10, 10);
}
.form-label{
    color:rgb(49, 40, 40);
    font-size: 22px;

}
.btn{
    font-size:17px;
    margin:0 130px;
    width:200px;
    color: hsl(0, 7%, 3%);
    background-color: rgb(255, 255, 255);
}
#calculate:hover{
   background-color: rgb(138, 132, 132);
   color:aliceblue;
   border:2px solid rgb(39, 36, 36);
}

@media only screen and (max-width:450)
{
     .container{
         width:100%;
         height:700px;
     }
}