body{
    background-color: #FDF6EC;
}

.container{
    margin: auto;
    align-items: center;
    width: 70%;
    height: 70%;
    padding: 3% 10% 3% 10%;
    /* margin-left: 18%; */
    margin-top: 5%;
    background-color: #DAB88B;
    border-radius: 15px;
}

.input{
    border: 1% solid #b6b5b3;
    background-color: #fff;
    padding: 1% 1%;
    border-radius: 5%;
    transition: border 0.3s;
    color: inherit;
    font-family: inherit;
    margin: 5% 0;
}

div input{
    width: 65%;
}

div select{
    width: 25%;
}

#btn{
    background-color: #B7CADB; 
    color: black;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.answer{
    margin-left: 10%;
    align-items: center;
}

#result{
    width: 90%;
    font-size: 170%;
    align-items: center;
    /* margin-left: 3%; */
}


.r_title{
    align-items: center;
    background-color: #97DBAE;
    width: 80%;
    padding: 1%;
    border-radius: 8px;
}

#advice{
    width: 90%;
    font-size: 110%;
    margin-bottom: 2%;
    /* margin-left: 3%; */
}