a,
abbr,
acronym,
address,
applet,
article,
aside,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
ins,
kbd,
label,
legend,
li,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline
}

body {
	line-height: 1
}

table {
	border-collapse: separate;
	border-spacing: 0
}

caption,
td,
th {
	text-align: left
}

blockquote,
q {
	quotes: "" ""
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: ""
}

a img {
	border: 0
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	color: inherit;
	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0
}

input[type=checkbox] {
	-webkit-appearance: checkbox
}

input[type=radio] {
	-webkit-appearance: radio
}

html {
	overflow-y: scroll;
	height: 100%
}

body {
	position: relative;
	overflow: hidden;
	background: #bddccc
}

.container {
	box-sizing: border-box;
	padding: 2em
}

@media screen and (max-width:767px) {
	.container {
		padding: 1.2em
	}
}

.stage {
	box-sizing: border-box;
	min-height: 100vh;
	padding-bottom: 8em;
	background: #fff
}

.stage_footer {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	padding: 2em;
	background: #c9e2d6
}

@media screen and (max-width:767px) {
	.stage_footer {
		padding: 1.2em
	}
}

.content {
	position: relative;
	font-weight: 500
}

.content_width {
	max-width: 33em
}

.scale {
	font-family: "Poppins", sans-serif;
	white-space: nowrap;
	line-height: 1.3
}

.scale .table_row {
	padding: 0.7rem 0;
	border-bottom: 2px solid #ebedf1
}

.scale .table_row:last-of-type {
	border: none
}

@media screen and (min-width:767px) {
	.scale .table_row {
		border: none;
		padding: 0
	}
}

.scale_preview_text {
	transition: font-size 0.3s ease 0s
}

.scale_base_size {
	background: #eff1f4
}

.article_preview {
	transform: translate(calc(100% - 1rem), 0);
	transition: transform 500ms ease 0s;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	border-left: 0.5rem solid #000;
	background: #ebedf1
}

@media screen and (min-width:767px) {
	.article_preview {
		transform: translate(calc(100vw - 8rem), 0);
		box-shadow: -1px 0 rgba(255, 255, 255, 0.25)
	}
}

.article_preview_inner {
	overflow: hidden;
	padding: 1.2em;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	opacity: 0.32
}

@media screen and (min-width:767px) {
	.article_preview_inner {
		padding: 2em
	}
}

.article_preview_open {
	transform: translate(0, 0);
	background: #fff
}

.article_preview_open .article_preview_inner {
	opacity: 1
}

@media screen and (min-width:767px) {
	.article_preview_open {
		transform: translate(23rem, 0)
	}
}

.article_preview_open .article_preview_button {
	right: auto;
	left: 0;
	background: #000
}

@media screen and (min-width:767px) {
	.article_preview_open .article_preview_button {
		right: calc(100% + 0.5rem);
		left: auto
	}
}

.article_preview_button {
	position: absolute;
	top: 1.2rem;
	right: calc(100% + 0.5rem);
	padding: 1.7em 0 1.7em 0.2em;
	width: 2rem!important;
	background: #000;
	cursor: pointer;
	color: #fff
}

@media screen and (min-width:767px) {
	.article_preview_button {
		top: calc(50vh - 3.5rem);
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px
	}
}

.article_container {
	transition: font-size 0.3s ease 0s
}

.article_content {
	max-width: 38em;
	outline: none;
	cursor: text
}

html {
	font-size: 100%
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.75;
	color: #000
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid currentColor
}

a:hover {
	color: #528069
}

.font_italic,
em,
i {
	font-style: italic
}

.font_bold,
b,
strong {
	font-weight: 500
}

blockquote,
ol,
p,
ul {
	margin-bottom: 1rem
}

.article_header {
	margin: 3rem 0 1.38rem;
	line-height: 1.3;
	transition: font-size 0.3s ease 0s
}

h1.article_header {
	margin-top: 0
}

h1:not(.article_header) {
	display: inline
}

h2:not(.article_header) {
	font-size: 1.75em;
	font-weight: 500;
	line-height: 1.3;
	letter-spacing: -0.025em;
	margin: 3rem 0 1.38rem
}

@media screen and (min-width:767px) {
	h2:not(.article_header) {
		font-size: 2.074em
	}
}

h3:not(.article_header) {
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.3;
	margin: 3rem 0 1.38rem
}

@media screen and (min-width:767px) {
	h3:not(.article_header) {
		font-size: 1.728em
	}
}

h4:not(.article_header) {
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.3;
	margin: 3rem 0 1.38rem
}

@media screen and (min-width:767px) {
	h4:not(.article_header) {
		font-size: 1.44em
	}
}

.font_small,
.text_small,
small {
	font-size: 0.85rem
}

.font_medium {
	font-size: 1.188em
}

.font_large {
	font-size: 135%;
	line-height: 1.3
}

.font_xl {
	font-size: 200%;
	line-height: 1.3
}

.text_light,
.text_muted,
label {
	color: #7987a0
}

.text_light a:not(.btn),
.text_muted a:not(.btn),
label a:not(.btn) {
	color: #7987a0;
	border-color: currentColor
}

.text_light a:not(.btn):hover,
.text_muted a:not(.btn):hover,
label a:not(.btn):hover {
	color: #000;
	border-color: currentColor
}

.text_white {
	color: #fff
}

.text_white a:not(.btn) {
	color: #fff;
	border-color: #fff
}

.text_white a:not(.btn):hover {
	color: rgba(255, 255, 255, 0.5);
	border-color: currentColor
}

.text_white .text_light {
	color: rgba(255, 255, 255, 0.5)
}

.text_white .border_left,
.text_white .border_right {
	border-color: rgba(255, 255, 255, 0.2)
}

.text_white .inline_list li {
	border-right: 1px solid rgba(255, 255, 255, 0.27)
}

.text_green {
	color: #284036
}

.text_green a:not(.btn) {
	color: #284036
}

.text_green a:not(.btn):hover {
	color: rgba(255, 255, 255, 0.65)
}

.text_center {
	text-align: center
}

.text_right {
	text-align: right
}

.field_permalink,
.scale_high_label,
.scale_low_label,
.text_monospace {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace
}

.field {
	margin-bottom: 1.15rem
}

.cols_fields {
	max-width: 30em
}

label {
	display: block;
	width: 1px;
	white-space: nowrap;
	margin-bottom: 0.308em
}

input[type=email],
input[type=password],
input[type=text],
select,
textarea {
	box-sizing: border-box;
	width: 100%;
	max-width: 30em;
	border: 1px solid #cfd4dd;
	border-radius: 4px;
	outline: none;
	padding: 0.5em 0.6em 0.6em 0.6em;
	background: #eff1f4;
	color: #000
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
	border-color: #86b29c;
	box-shadow: 0 0 0 0.25em #daebe3;
	background: #fff
}

.field_color {
	position: relative
}

input[type=color] {
	-webkit-appearance: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 100%;
	box-sizing: border-box;
	padding: 0;
	border: 1px solid #cfd4dd;
	border-radius: 0 4px 4px 0
}

input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0
}

input[type=color]::-webkit-color-swatch {
	border: none;
	border-radius: 0 4px 4px 0
}

textarea {
	max-width: none;
	height: 10em;
	max-height: 25em
}

select {
	-webkit-appearance: menulist
}

input[type=checkbox]+label,
input[type=radio]+label {
	display: inline;
	color: #000
}

.flex {
	display: flex;
	flex-wrap: wrap
}

@media screen and (min-width:767px) {
	.ml_order_1 {
		order: 0
	}
	.ml_order_2 {
		order: 1
	}
}

.col_single,
.main_col {
	max-width: 40em
}

.col_single>:first-child,
.main_col>:first-child {
	margin-top: 0
}

.cols {
	clear: both
}

.cols:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.cols>div {
	box-sizing: border-box
}

@media screen and (min-width:767px) {
	.cols>div>:first-child {
		margin-top: 0
	}
}

@media screen and (max-width:767px) {
	.cols:not(.media_xs_cols) {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-moz-box-orient: vertical;
		-webkit-box-orient: vertical;
		-ms-box-orient: vertical;
		-webkit-flex-direction: column;
		flex-direction: column
	}
	.cols:not(.media_xs_cols)>div {
		float: none!important;
		width: 100%;
		padding-left: 0!important;
		padding-right: 0!important
	}
}

.col_half {
	float: left;
	width: 50%;
	padding: 0 0.5em
}

.col_one_third {
	float: left;
	width: 33.33%;
	padding: 0 0.5em
}

.col_two_thirds {
	float: left;
	width: 66.67%;
	padding: 0 0.5em
}

.col_one_fourth {
	float: left;
	width: 25%;
	padding: 0 0.5em
}

.col_two_fourths {
	float: left;
	width: 50%;
	padding: 0 0.5em
}

.col_three_fourths {
	float: left;
	width: 75%;
	padding: 0 0.5em
}

.col_one_fourth:first-of-type,
.col_one_third:first-of-type {
	clear: left;
	padding: 0 0.5em 0 0
}

.col_one_fourth:last-of-type,
.col_one_third:last-of-type {
	clear: right;
	padding: 0 0 0 0.5em
}

.col_half:first-of-type,
.col_three_fourths:first-of-type,
.col_two_fourths:first-of-type,
.col_two_thirds:first-of-type {
	clear: left;
	padding-left: 0
}

.col_half:last-of-type,
.col_three_fourths:last-of-type,
.col_two_fourths:last-of-type,
.col_two_thirds:last-of-type {
	clear: right;
	padding-right: 0
}

@media screen and (max-width:767px) {
	.media_xs_cols {
		column-count: 2;
		column-gap: 2.75rem
	}
}

@media screen and (min-width:767px) {
	.cols_two_flow {
		column-count: 2;
		column-gap: 2.75rem
	}
	.cols_three_flow {
		column-count: 3;
		column-gap: 2.75rem
	}
	.cols_four_flow {
		column-count: 4;
		column-gap: 1.15rem
	}
}

.sidebar {
	display: block
}

@media screen and (min-width:767px) {
	.sidebar {
		display: table-cell;
		vertical-align: top;
		width: 18em;
		min-width: 18em;
		padding-right: 2em
	}
}

.main_content {
	display: block;
	overflow: hidden
}

@media screen and (min-width:767px) {
	.main_content {
		display: table-cell;
		vertical-align: top;
		padding-left: 2em
	}
}

@media screen and (min-width:767px) {
	.table_index,
	.table_layout,
	.table_padded {
		display: table;
		width: 100%
	}
	.table_row,
	.table_row_header {
		display: table-row
	}
	.table_cell {
		display: table-cell
	}
	.table_index,
	table {
		margin-bottom: 2.75rem;
		width: 100%;
		border-bottom: 1px solid #cfd4dd
	}
	.table_row_header .table_cell,
	th {
		padding: 0.4em 1.231em;
		font-weight: 500;
		color: #97a2b5;
		white-space: nowrap
	}
	.table_index .table_row .table_cell,
	td {
		border-top: 1px solid #cfd4dd;
		padding: 0.6em 1.231em
	}
	.table_index .table_row .table_cell {
		display: block;
		padding-top: 0;
		padding-bottom: 0
	}
	.table_index .table_row .table_cell:first-of-type {
		padding-top: 0.6em
	}
	.table_index .table_row .table_cell:last-of-type {
		padding-bottom: 0.6em;
		border-top: none
	}
	.table_index .table_row .text_right {
		text-align: left
	}
	.table_padded .table_cell {
		padding: 0.3em 1.231em 0.3em 0
	}
	.table_padded .table_cell:last-child {
		padding-right: 0
	}
	tbody tr:nth-of-type(odd) {
		background-color: rgba(0, 0, 0, 0.08)
	}
	.table_index .table_row:nth-of-type(2n) {
		background-color: rgba(0, 0, 0, 0.08)
	}
	.cell_collapse {
		width: 1px;
		white-space: nowrap
	}
}

#carbonads {
	display: inline-block;
	vertical-align: top;
	max-width: 28em;
	margin-bottom: 2em;
	font-size: 0.85rem
}

#carbonads a {
	color: #000;
	border-bottom: none
}

#carbonads a:hover {
	border-bottom: 1px solid currentColor
}

.carbon-img {
	border-bottom: none!important;
	float: left;
	margin-right: 1em
}

.carbon-poweredby:before {
	content: '';
	display: block;
	margin-top: 1em
}

img {
	max-width: 100%;
	height: auto
}

.break_xs {
	margin-bottom: 0.575rem
}

.break_small {
	margin-bottom: 1.15rem
}

.break_med,
.break_medium {
	margin-bottom: 2.75rem
}

.break_large {
	margin-bottom: 5em
}

.clear {
	clear: both
}

.float_left {
	float: left;
	margin-right: 1em
}

.float_right {
	float: right;
	margin-left: 1em
}

.bleed {
	display: block;
	margin-left: -2.1em;
	margin-right: -4.2em
}

@media screen and (max-width:1280px) {
	.bleed {
		margin-right: -2.1em
	}
}

@media screen and (max-width:767px) {
	.bleed {
		margin-left: -1em;
		margin-right: -1em
	}
}

ol,
ul {
	margin-left: 1.2em
}

ul {
	list-style: circle
}

li {
	padding-left: 0.7em;
	margin-bottom: 0.7em
}

.inline_list {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0
}

.inline_list li {
	display: inline-block;
	border-right: 1px solid rgba(0, 0, 0, 0.17);
	margin: 0 0.6em 0 0;
	padding: 0 0.8em 0 0
}

.inline_list li:last-of-type {
	border-right: none;
	margin-right: 0;
	padding-right: 0
}

pre {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	line-height: 1.2;
	white-space: pre-wrap;
	cursor: text;
	background: #ebedf1;
	border: 1px solid #cfd4dd;
	border-radius: 4px;
	padding: 0.7em 0.8em;
	margin-bottom: 1.15rem
}

.codepen_able {
	outline: none
}

.box {
	box-sizing: border-box;
	position: relative;
	margin-bottom: 2.75rem;
	padding: 1em;
	border: 1px solid #cfd4dd
}

.box>:first-child {
	margin-top: 0
}

.box>:last-child {
	margin-bottom: 0
}

.box_gray {
	box-sizing: border-box;
	position: relative;
	margin-bottom: 2.75rem;
	padding: 1em;
	background-color: #ebedf1
}

.box_gray>:first-child {
	margin-top: 0
}

.box_gray>:last-child {
	margin-bottom: 0
}

hr {
	clear: both;
	border: none;
	border-bottom: 2px solid #ebedf1;
	height: 0;
	margin: 2.75rem 0;
	padding: 0
}

.btn,
button,
input[type=submit] {
	width: 100%;
	display: block;
	border: 1px solid #b2bac8;
	padding: 0.6em 1em;
	background: #ebedf1;
	border-radius: 5px;
	cursor: pointer;
	color: #333b48;
	line-height: 1.5;
	font-weight: 500;
	text-align: center;
	transition: all 0.3s ease 0s
}

.btn:hover,
button:hover,
input[type=submit]:hover {
	border-color: #b2bac8;
	background: #cfd4dd;
	color: #000
}

@media screen and (min-width:767px) {
	.btn,
	button,
	input[type=submit] {
		display: inline-block;
		width: auto;
		margin-right: 1rem
	}
}

.btn_green {
	background: #638784!important;
	border-color: #42525B!important;
	color: #fff!important
}

.btn_green:hover {
	background: #42525B!important;
	border-color: #526D71!important;
	color: #fff!important
}

@media screen and (min-width:767px) {
	.border_right {
		border-right: 2px solid #ebedf1
	}
}

@media screen and (max-width:767px) {
	.media_xs_order_one {
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 0;
		-webkit-order: 0;
		order: 0
	}
	.media_xs_order_two {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1
	}
	.media_xs_order_three {
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2
	}
	.media_xs_order_four {
		-webkit-box-ordinal-group: 4;
		-moz-box-ordinal-group: 4;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3
	}
	.media_xs_break_small {
		margin-bottom: 1.15rem
	}
	.media_xs_break_medium {
		margin-bottom: 2.75rem
	}
	.media_xs_break_large {
		margin-bottom: 5em
	}
	.media_xs_bleed {
		display: block;
		margin-left: -1.2em;
		margin-right: -1.2em
	}
	.media_xs_text_left {
		text-align: left
	}
	.media_xs_text_center {
		text-align: center
	}
	.media_xs_text_right {
		text-align: right
	}
	.media_xs_hide {
		display: none
	}
	.media_xs_remove_box {
		border: none;
		padding: 0
	}
}

.remove_border_bottom {
	border-bottom: none
}

.add_border_bottom {
	border-bottom: 1px solid currentColor
}

.media_xs_show {
	display: none
}

@media screen and (max-width:767px) {
	.media_xs_show {
		display: block
	}
}

.hidden,
.hide {
	display: none
}
