* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #19171a;
  /* background-color: linear-gradient(147deg, #7633da 0%, #6836b8 74%); */
}

main {
  width: 50%;
  height: 50%;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 20px;
}

label {
  flex: 1 1 40%;
  border-radius: 8px;
  padding: 15px;
  color: #b9825d;
  font-weight: bold;
}
.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  border-radius: 5px;
  background-color: #3a3434;
  padding: 20px;
}

.values input{
  background-color:  #141314;
  color: #fff;
}

::placeholder{
  color: rgb(83, 60, 60);
}

.value {
  flex: 1 1 40%;
  margin: 15px;
  appearance: none;
  background: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  border: none;
  outline: none;
  transition: 0.4s;
}

@media screen and (max-width: 420px) {
  .col420{
    width: 20%;
    margin-top: 0;
  }
}