body { 
    text-align: center;
    margin-bottom: 3em;
  }
  
  button {
    background-color: #DDD;
    color: rgb(14, 10, 10);
    padding: 5px 12px;
    /*display: inline-block;*/
    font-size: 16px;
    border-radius: 1em;
    border: none;
    margin: 20px 0;
  }
  
  div {
    margin-bottom: 4em;
  }
  
  h2 {
    font-size: 2.25em;
    color: rgb(82, 76, 61)
  }
  
  h1,
  h2,
  p,
  button {
    font-family: 'Quicksand Light';
  }
  
  input {
    font-family: 'Quicksand';
    font-weight: 800;
    display: inline-block;
    border-width: 0pt;
    background-color: rgb(224, 224, 224);
    color: #555;
    margin-bottom: 5px;
  }
  
  input,
  select {
    border-radius: .75em;
    padding: .25em;
  }
  
  select {
    border-width: 0;
  }
  
  /*Class Selections*/
  
  .results {
    display: inline-block;
    padding: .55em;
    border-radius: 1em;
    background-color: rgb(71, 73, 71);
    color:aliceblue;
    height: 28px;
    width:110px;
  }
  
  /*Focus and Hover*/
  
  button:hover,
  button:focus {
    outline: none;
    box-shadow: 0 2px 12px 0 rgba(0, 5, 5, 0.34), 0 2px 20px 0 rgba(0, 5, 5, 0.29);
    color: #824;;
  }
  
  input:focus,
  select:focus {
    outline-width: 0;
    box-shadow: 0 0 2pt 1pt #555;
  }
  
  /*Navbar*/
  
  .sidenav {
    height: 80%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50px;
    background-color: rgb(138, 136, 136);
    overflow-x: hidden;
    padding-top: 20px;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to top,
        #824,
        rgba(0, 0, 0, 0)
      ) 1 100%;
  }
  
  .sidenav .nav-item {
    padding: 6px 8px 12px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(64, 101, 101);
    font-family: "Quicksand Light";
    display: block;
  }
  
  .sidenav .nav-item:hover {
    background-color: #824;
    color: #DDD;
  }
  
  .sidenav .nav-item:active {
    background-color: #DDD;
    color: #824;
  }
  
  .main-content {
    margin-left: 225px;
  }
  
  h2 a {
    display: block;
    text-decoration: none;
    color: #824;
    background-color: #DDD;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .85em;
  }
  
  @media (max-width: 750px) {
    .sidenav {
      padding-top: 15px;
      left: 0px;
      height: 100%;
      border: none;
    }
    .sidenav .nav-item {
      font-size: 20px;
    }
    
    h1 {
      font-size: 2.75em;
    }
    
    .main-content {
      margin-left: 175px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  