

body { 
  text-align: center;
  margin-bottom: 3em;
}

button {
  background-color: #DDD;
  color: #555;
  padding: 5px 12px;
  display: inline-block;
  font-size: 30px;
  border-radius: 1em;
  border: none;
  margin: 20px 0;
}
p{
  font-size: 30px;
}
div {
  margin-bottom: 4em;
}

h1 {
  font-size: 4.25em;
  color: #477;
}

h2 {
  font-size: 3.00em;
  color: #824
}

h1,
h2,
p,
button {
  font-family: 'Quicksand Light';
}

input {
  font-family: 'Quicksand';
  font-weight: 800;
  display: inline-block;
  border-width: 0pt;
  background-color: #DDD;
  color: #555;
  margin-bottom: 5px;
}

input,
select {
  border-radius: .75em;
  padding: .25em;
}

select {
  border-width: 0;
}

/*Class Selections*/

.results {
  display: inline;
  padding: .45em;
  border-radius: 1em;
  background-color: #477;
}

/*Focus and Hover*/

button:hover,
button:focus {
  outline: none;
  box-shadow: 0 2px 12px 0 rgba(0, 5, 5, 0.34), 0 2px 20px 0 rgba(0, 5, 5, 0.29);
  color: #824;;
}

input:focus,
select:focus {
  outline-width: 0;
  box-shadow: 0 0 2pt 1pt #555;
}

/*Navbar*/
.adjust{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.sidenav {
  height: 80%;
  width: 25%;
  position: absolute; 
  z-index: 1;
  top: 0;
  left: 50px;
  background-color: #555;
  overflow-x: hidden;
  padding-top: 20px;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top,
      #824,
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.sidenav .nav-item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #7AA;
  font-family: "Quicksand Light";
  display: block;
}

.sidenav .nav-item:hover {
  background-color: #824;
  color: #DDD;
}

.sidenav .nav-item:active {
  background-color: #DDD;
  color: #824;
}

.main-content {
  margin-left: 225px;
}

h2 a {
  display: block;
  text-decoration: none;
  color: #824;
  background-color: #DDD;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: .85em;
}

@media only screen and (max-width: 500px) {
  
  .sidenav {
    padding-top: 15px;
    left: 100px;
    border: none;
    visibility: hidden;
  }

  .sidenav .nav-item {
    font-size: 30px;
  }
  input{
    font-size: 30px;
  }
  h1 {
    font-size: 3.75em;
  }
  
  .main-content {
    margin:0;
  }
}