body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}
p{
    background-color: azure;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
#class{
    text-align: center;
    background: rgb(160, 160, 183);
}
#image{
   
  height: 100px;
  width: 100px;
 
}.front{
    text-align: center;
}
#hi{
    text-align: left;
}