* {
    color: white;
}

body {
    background-color: black;
}

.container {
    width: 375px;
    height: auto;
    margin-left: 350px;
    background-color: rgb(12, 14, 15);
    padding-left: 30px;
}

h1.thick {
    font-weight: bold;
}

.btn {
    background-color: whitesmoke;
    color: black;
}
