/* Background*/
       
        body{
            background-color: lightblue;
            background-size: 100% 100%;
        }

        .shape{
            background-color: azure;
            width: 400px;
            height: 400px;
            border: 3px solid darkblue;
            border-radius:  7px;
            box-shadow: 0px 5px 20px lightcoral; 
            margin:  100px 300px 30px 370px;
            padding: 30px;
        }
            
        input[type="text"]{ 
        width:  100%;
        }

        h3{
        	text-align: center;

        }
        
