.Smalltxt {
    font-size: 20px;
    font-weight: 500;
}

.intro {
height: 90vh;
}


#sec1
{

background-color: rgb(164, 230, 11);
background-image: url("1.jpg")  ;    
background-repeat: no-repeat;
background-size: cover;
width: 70%;
height: 400px;
margin-left: auto;
margin-right: auto;
position: relative;
background-position: center center;
background-attachment: fixed;
}
#sec2
{

background-color: rgb(0, 0, 2);
background-image: url("2.webp")  ;    
background-repeat: no-repeat;
background-size: cover;
width: 70%;
height: 400px;
margin-left: auto;
margin-right: auto;
position: relative;
background-position: center center;

}
#sec3
{

background-color: rgb(0, 0, 2);
background-image: url("https://images.unsplash.com/photo-1460186136353-977e9d6085a1?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHNwYWNlJTIwc2h1dHRsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600");

background-size: cover;
width: 70%;
height: 400px;
margin-left: auto;
margin-right: auto;
background-position: center center;

}

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
/** * @file * Basic styling for the program. */
/* Variables */
/* Fonts */
/* Mixins */
/* Base Styles */
* {
box-sizing: border-box;
}
html, body {
color: rgb(195, 14, 14);
font-family: Helvetica, Arial, sans-serif;
font-size: 10px;
font-weight: 100;
margin: 0;
padding: 0;
}
input[type='radio']:after {
width: 15px;
height: 15px;
border-radius: 15px;
top: -2px;
left: -1px;
position: relative;
background-color: #d1d3d1;
content: '';
display: inline-block;
visibility: visible;
border: 2px solid white;
}

input[type='radio']:checked:after {
width: 15px;
height: 15px;
border-radius: 15px;
top: -2px;
left: -1px;
position: relative;
background-color: #ff00bf;
content: '';
display: inline-block;
visibility: visible;
border: 2px solid white;
}
.container {
margin: 0 auto;
max-width: 750px;
padding: 0 24px;
}
header {
animation: bgFadeIn 1s ease-in both;
position: relative;
padding: 28px;
text-align: center;
}
header:before {
background: linear-gradient(rgba(26, 3, 3, 0.7), rgba(22, 23, 23, 0.7)), url("https://cdn.pixabay.com/photo/2016/02/01/17/21/einstein-1173990__480.jpg");
background-color: #ccc;
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
bottom: 0;
content: ' ';
left: 0;
position: absolute;
right: 0;
top: 0;
z-index: -1;
}
@keyframes bgFadeIn {
0% {
 background-color: rgba(255, 255, 255, 1);
}
100% {
 background-color: rgba(255, 255, 255, 0);
}
}
header .container {
margin: 12rem auto;
}
header h1 {
border-bottom: 2px solid #fff;
border-top: 2px solid #fff;
color: #fff;
font-family: "Amatic SC", cursive;
font-size: 8.75rem;
margin: 0;
}
header h3 {
color: #fff0a5;
font-family: "Abril Fatface", cursive;
font-size: 3.75rem;
font-style: italic;
font-weight: 100;
margin: 0;
}
section {
padding: 2rem;
}
section p {
font-size: 2.5rem;
line-height: 3.5rem;
}
section p.lead-in {
font-size: 3rem;
}
section p.lead-in:first-letter {
font-size: 7.25rem;
display: block;
float: left;
position: relative;
line-height: 0.1;
top: -0.2em;
}