.main__wrapper {
    background: linear-gradient(120deg, #343A4F, #0F1620);
    ;
}

.inner__wrapper {
    color: white;
    font-weight: 400;
    font-size: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Khula", sans-serif;
    height: 200px;
    box-sizing: border-box;
    letter-spacing: 6px;
    width: 400px;
    margin: 0 auto;
}

.animate-me {
    width: 400px;
}

.card__wrapper {
    margin: 0 auto;
    margin-top: 2rem;
    height: 500px;
}

@media (max-width:400px) {
    .inner__wrapper {
        width: 100%;
    }
    .card__wrapper {
        height: 580px;
    }
}

.top {
    background: linear-gradient(to bottom, #3D9DEA, #4A4EEE);
}

.bottom {
    background: #343A4F;
}

input,
select {
    background: none;
    border-bottom: 1px solid #fff;
    height: 20px;
    font-size: 0.75rem;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

label {
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}