.container{
    background-color:rgb(22, 20, 20);
    width: 500px;
    height:600px;
    margin-top:10px;
}
.text-center{
    color:rgb(255, 255, 255);
}
.form-label{
    color:rgb(219, 217, 217);
    font-size: 22px;

}
.btn{
    font-size:17px;
    margin:0 130px;
    width:200px;
    color: hsl(0, 7%, 3%);
    background-color: rgb(255, 255, 255);
}
#calculate:hover{
   background-color: rgb(138, 132, 132);
   color:aliceblue
}
@media only screen and (max-width:450)
{
     .container{
         width:100%;
         height:700px;
     }
}