

.text{
    margin-left: 325px;
    margin-top: 50px;
    font-size: 40px;
    font-style:normal;
    
}
.input_num {
    width: 210px;
    text-align: center;
    position: absolute;
    left: 500px;
    top: 170px;
    height: 30px;
    border-radius: 5px;
}
.input_select{
    position: absolute;
    left: 730px;
    top: 170px;
    height: 36px;
    border-radius: 5px;
    background-color: #7cfc00;
    cursor: pointer;
    transition: 0.5s;
}
.input_select:hover{
    background-color: #32e613;
}
.btn{
    margin-left:10px;
    position: absolute;
    left: 585px;
    top: 225px;
    height: 30px;
    border-radius: 5px;
    background-color: #ff2e2e;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: #ff0000;
}
.output_num{
    width: 210px;
    text-align: center;
    position: absolute;
    left: 500px;
    top: 275px;
    height: 30px;
    border-radius: 5px;
}
.output_select{
    position: absolute;
    left: 730px;
    top: 275px;
    height: 36px;
    border-radius: 5px;
    background-color: #7cfc00;
    
    cursor: pointer;
    transition: 0.5s;
}
.output_select:hover{
    background-color: #32e613;
}

.form1{
    margin-top: 25px;
    margin-left: 320px;
    width: 675px;
    height: 300px;
    border: 1px solid black;
    background-color: #73c2fb;
    border-radius: 10px;
    z-index: -1;
}
