body {
 display: grid;
  justify-content: center;
 text-align: center;
  height: 100vh;

  background: #222;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  font-size: 100%;
}
h1{
  background: #000000d0;
  text-align: center;
  color: white;
}
.area{
  background: #000000d0;
  padding: 1em;
  border-radius: 30px;
  color: white;
  width: 100%;
  max-width: 320px;
  margin: 20px;
}

button{
  margin: 0.4em;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  outline: none;
  background: #7c7;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}
input{
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius:15px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 100%;
  width: calc(100%-100px);
}
button:hover{
  background: #7c7c7c6b;
}


