body{
  background-image: url('https://source.unsplash.com/1600x900/?geometric pattern');
  text-align: center;
  padding: 30px;
}
.head{
  color: white;
  background-color: #000000d0;
  
}


button{
  background-color: chartreuse;
  border-radius: 5px;
  font-size: 20px;
}
input{
  font-size: 25px;
}
h3{
  font-size: 25px;;
}
h1{
  font-size: 50px;
  color: rgb(12, 36, 12);
}

.card {
  transition: all 0.2s ease;
  border: none  ;
  height: 190px;
  width: 190px;
  border-radius: 13px;
  display: grid;
  grid-template-rows: 0.8fr auto;
  gap: 0.3rem;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
  transform: scale(1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    transition: all .3s ease-in;
    border:none  ;
    height: 200px;
    width: 200px;
    border-radius: 13px;
    display: grid;
    grid-template-rows:.8fr auto;
    gap:.3rem;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
    transform: scale(1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.card:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
.card:hover .card-details {
  opacity: 0.9;
  background-color: #1a2238;
  border-radius: 0px;
}
.card-details {
  min-height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px;
  align-items: flex-start;
  color: var(--dark);
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #dadfff;
  opacity: 0;
  padding-left: 20px;
  transition: opacity 0.2s ease;
}
.card-details h3 {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.card-details p {
  font-size: 12px;
  margin-top: 10px;
}
.projects-background {
  padding: 2rem 0;
  /* background-color: var(--lighter); */
  background-color: var(--dark);
  color: var(--dark);
  text-align: center;
}
.projects-background h2 {
  color: #fff;
  margin-top: 50px;
}
.projects {
  padding-bottom: 20px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.rect {
  background-image: url("https://cdn.icon-icons.com/icons2/2783/PNG/512/rectangle_icon_177256.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.squar{
  background-image: url("https://cdn.icon-icons.com/icons2/2098/PNG/128/square_icon_128742.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  
.circ {
  background-image: url("https://cdn.icon-icons.com/icons2/3404/PNG/128/solid_circle_icon_216001.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
 
.tri{
  background-image: url("https://cdn.icon-icons.com/icons2/562/PNG/128/dark-triangle_icon-icons.com_54020.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
 
.gram{
  background-image: url("https://cdn.icon-icons.com/icons2/935/PNG/128/square-shape-design-interface-tool-symbol_icon-icons.com_73149.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.trap{
  background-image: url("https://cdn.icon-icons.com/icons2/1143/PNG/128/trapezeinvertedoutlinedshape_80761.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.ell{
  background-image: url("https://cdn.icon-icons.com/icons2/1416/PNG/128/software-shape-oval_97863.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.cube{
  background-image: url("https://cdn.icon-icons.com/icons2/2473/PNG/128/shape_geometry_geometric_d_cube_icon_149667.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.rect-prism{
  background-image: url("https://cdn.icon-icons.com/icons2/2473/PNG/128/shape_geometry_hexagon_prism_geometric_d_icon_149658.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.cyli{
  background-image: url("https://cdn.icon-icons.com/icons2/1875/PNG/128/shapecylinder_120488.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.cone{
  background-image: url("https://cdn.icon-icons.com/icons2/2473/PNG/128/shape_geometry_geometric_d_cone_icon_149671.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.sph{
  background-image: url("https://cdn.icon-icons.com/icons2/2473/PNG/128/shape_geometric_geometry_cylinder_sphere_icon_149676.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.hemi{
  background-image: url("https://cdn.icon-icons.com/icons2/2473/PNG/128/shape_geometry_geometric_d_round_sphere_separated_icon_149662.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}