.block{
    margin: 20px;
    justify-content: center;
    border: 2px solid black;
    display: inline-block;
    padding: 2rem;
}

.Brand{
    padding: 20px;
}
.base{
    margin:1rem;
}

.argument{
    margin: 1rem;
}

.calculate{
    margin-right: 10px;
}

.Buttons{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}